<div class="card">
  <div class="card-header font-weight-bold">
    DF type and shape
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="font-weight-bold">Our system has identified that your data file has a long- format shape.</p>
    <p class="card-text">A wide-format data file will typically have a smaller number of rows and a larger number of columns, while a long-format data file will have a larger number of rows and a smaller number of columns. </p>
    <p>A long-format datafile will typically have one or more "id" columns that identify each observation, along with a "value" column that contains the observed data. A wide-format data file, on the other hand, will typically have separate columns for each observed variable</p>  
    <div class="form-group w-50">
      
      <select class="selectpicker w-100 show-tick"
                id="df-type-select" 
                data-live-search="true" 
                data-style="btn-white" 
                data-size="5"                                                    
                data-title="Select type of df"                
        >  
          <option value="screening">screening</option>
          <option value="intervention">intervention</option>          
        </select>    
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-info" onclick="savePreValidation('dfShape')">Save</button>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/public/css/bootstrap-select.min.css"></link>
<script type="text/javascript" src="/public/js/bootstrap-select.min.js"></script>   