<div class="card">
  <div class="card-header font-weight-bold">
    Select/Upload a readme file including a metadata to describe the datafile
  </div>
  <div class="card-body">                        
    <h5 class="card-title"></h5>
    <p class="card-text" id="readme-card-text">
      You need to assciate your datafile with a readme file. In order to do so, please either select a readme file from the menu below or upload a new readme file.
    </p>   
    <div class="row">
      <div class="col">
        <select class="selectpicker w-100 show-tick"
                id="readme-select"                
                data-live-search="true" 
                data-style="btn-white" 
                data-size="5"                                                    
                data-title="Select readme file"                                                
        ></select>
      </div>
      <div class="col text-right">
        <input class='btn btn-sm btn-light d-none' title='' type='file' id='readme-file-input' name='attachedFile' accept='.md' onchange='uploadFile(this);'/>
        <button class='btn btn-white w-100' onclick='onclickUploadReadme(this)'>Upload new readme file</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button class="btn btn-info" onclick="onclickSaveReadmeSelection()">Save</button>
      </div>
    </div>
  </div>
</div>