<div class="card">
  <div class="card-header font-weight-bold">
    Variable Level
  </div>
  <div class="card-body">                        
    <h5 class="card-title"></h5>
    <p class="card-text">      
      Please select variable levels in the drop down below.  
    </p>    
    <!--<div class="dropdown">
      <button class="btn btn-white dropdown-toggle" type="button" id="fields-type-dropdown-btn" data-toggle="dropdown">
        Select Variable Level 
      </button>
      <div class="dropdown-menu" id="variable-level-dropdown-menu">
        <form class="px-4 py-3">                                 
          <div class="form-check ml-4">
            <input type="checkbox" class="form-check-input" id="Demographic" checked value="Demographic" onchange="onchangeVariableLevelCB(this, event)">
            <label class="form-check-label" for="Demographic">Demographic</label>
          </div>
          <div class="form-check ml-4">
            <input type="checkbox" class="form-check-input" id="student" checked onchange="onchangeVariableLevelCB(this, event)" value="student">
            <label class="form-check-label" for="student">
              Student
            </label>
          </div>                              
          <div class="form-check ml-4">
            <input type="checkbox" class="form-check-input" id="classroom" checked onchange="onchangeVariableLevelCB(this, event)" value="classroom">
            <label class="form-check-label" for="classroom">
              Classroom
            </label>
          </div>
          <div class="form-check ml-4">
            <input type="checkbox" class="form-check-input" id="school" checked onchange="onchangeVariableLevelCB(this, event)" value="school">
            <label class="form-check-label" for="school">School
            </label>
          </div>
          <br>
          <div class="form-group">
            <label for="new-variable-level" class="font-weight-bold">Enter new variable level</label>
            <input type="text" class="form-control" id="new-variable-level" placeholder="Enter new variable level" onkeydown="onkeydownVariableLevel(event, this)">    
          </div>
        </form>       
      </div>
    </div>-->
    <div class="row">
      <div class="col">
        <p class="font-weight-bold">Select Variable To Add</p>
        <select class="selectpicker w-100 show-tick"
                id="variables-select" 
                data-live-search="true" 
                data-style="btn-white" 
                data-size="5"                                                    
                data-title="Select Variable To Add"
                
        >          
        </select>
      </div>
      <div class="col d-none" id="variables-parent-col-wrapper">
        <p class="font-weight-bold">Select Parent</p>
        <select class="selectpicker w-100 show-tick"
                id="variables-parent-select" 
                data-live-search="true" 
                data-style="btn-white" 
                data-size="5"                                                    
                data-title="Select Parent Variable"
                
        >          
        </select>
      </div>
      <div class="col d-none" id="remove-variable-col-wrapper">
        <p class="font-weight-bold">Select Variable To remove</p>
        <select class="selectpicker w-100 show-tick"
                onchange="removeVariable()"
                id="remove-variable-select" 
                data-live-search="true" 
                data-style="btn-white" 
                data-size="5"                                                    
                data-title="Select Variable To Remove "
                
        >          
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button class="btn btn-info" onclick="addNode()">Add Node</button>
      </div>
      <div class="col">
        <button class="btn btn-info" onclick="resetViz()">Reset</button>
      </div>
    </div>    
    <div class="row">
      <div class="col text-center pt-4">
        <svg width="400" height="220" id="tree-layout">
          <g transform="translate(5, 5)">
            <g class="links"></g>
            <g class="nodes"></g>
          </g>
        </svg>
      </div>
      <div class="col text-center pt-4">
        <svg width="320" height="320" id="packed-circles">
          <g></g>
        </svg> 
      </div>
    </div>        
    <div class="row">
      <div class="col">
        <button class="btn btn-info" onclick="savePreValidation('variableLevel')">Save</button>
      </div>      
    </div>    
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.4/d3.min.js" charset="utf-8"></script>

<style>
  circle {
    fill: indianred;
    opacity: 0.3;
    stroke: white;
  }
  text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: black;
    font-size: 15px;
    text-anchor: middle;
  }

  .node {
    fill: steelblue;
    stroke: none;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
</style>