<div class="card">
  <div class="card-header font-weight-bold">
    Variable Level
  </div>
  <div class="card-body">                        
    <p class="card-title font-weight-bold">Please specify the relationships among your variables. This helps us understand and process your data correctly. For example, are your variables include repeated measures or nesting?</p>    
    <div class="row">
      <div class="col">
        <p class="font-weight-bold">Select Variable To Add</p>
        <select class="selectpicker w-100 show-tick"
                id="variables-select" 
                onchange="onchangeAddVarSelect()"
                data-live-search="true" 
                data-style="btn-white" 
                data-size="5"                                                    
                data-title="Select Variable To Add"
                
        >          
        </select>
      </div>
      <div class="col d-none" id="variables-parent-col-wrapper">
        <p class="font-weight-bold">Select Parent</p>
        <select class="selectpicker w-100 show-tick"
                id="variables-parent-select"
                onchange="onchangeParentVarSelect()" 
                data-live-search="true" 
                data-style="btn-white" 
                data-size="5"                                                    
                data-title="Select Parent Variable"
                
        >          
        </select>
      </div>
      <div class="col d-none" id="remove-variable-col-wrapper">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Select Variable To remove</p>
            <select class="selectpicker w-100 show-tick"
                onchange="onchangeRemoveVariable()"
                id="remove-variable-select" 
                data-live-search="true" 
                data-style="btn-white" 
                data-size="5"                                                    
                data-title="Select Variable To Remove "                
            >          
            </select>
          </div>
          <div class="col">
            <div class="form-check ml-4">
              <input class="form-check-input" type="checkbox" id="remove-strict-check">
              <label class="form-check-label" for="remove-strict-check">
                Strict Mode
              </label>
            </div>
          </div>
        </div>      
      </div>
    </div>
    <br>      
    <div class="row">
      <div class="col text-center pt-4">
        <svg width="400" height="220" id="tree-layout">
          <g transform="translate(5, 5)">
            <g class="links"></g>
            <g class="nodes"></g>
          </g>
        </svg>
      </div>
      <div class="col text-center pt-4">
        <svg width="320" height="320" id="packed-circles">
          <g></g>
        </svg> 
      </div>
    </div>        
    <div class="row">      
      <div class="col">
        <button class="btn btn-info" onclick="onCickSaveHierarchy()">Save</button>
        <button class="btn btn-info" onclick="resetViz()">Reset</button>
      </div>      
    </div>    
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.4/d3.min.js" charset="utf-8"></script>

<style>
  circle {
    fill: indianred;
    opacity: 0.3;
    stroke: white;
  }
  text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: black;
    font-size: 15px;
    text-anchor: middle;
  }

  .node {
    fill: steelblue;
    stroke: none;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
</style>